.logout {
  margin: 0 auto;
  background-color: gray;
  /* Green */
  border: none;
  color: black;
  padding: 5px 15px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}
