* {
  font-family: 'Metropolis', Helvetica, sans-serif;
  font-weight: normal;
}
.login {
  margin: 0 auto;
  text-align: center;
}

.login-button {
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
