
.project-summary {
	// margin: 10px;
	// padding: 20px;
  list-style-type: none;
      width: 200px;
      min-height: 250px;
      border: 1px solid #000;
      display: -moz-inline-stack;
      display: inline-block;
      vertical-align: top;
			color: white;
      margin: 5px;
			padding: 5px;
      zoom: 1;
      *display: inline;
      _height: 250px;
}

// Status Colors?

.green {
	background-color: green;
}

.yellow {
	background-color: yellow;
}

.red {
	background-color: red;
}
