
.project-summary {
  list-style-type: none;
    width: 474px;
    height: 474px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    color: white;
    text-align: left;
    border: .1px solid black;
}

.membersList {
	list-style-type: none;
	text-align: left;
  padding-left: 28px;
}

.whitecircle {
  display: inline-block;
  background-color: white;
  border-radius: 100px;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  margin: 5px;
  height: 41.56px;
  width: 41.56px;
  line-height: 40px;
}

.summary-name {
  margin-bottom: -15px;
  font-size: 44px;
  padding-left: 33px;
  padding-right: 33px;
}

.taskline {
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 10px;
  font-size: 16px;
}

.updated {
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 10px;
  font-size: 20px;
}

.project-text {
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 5px;
  font-size: 20px;
  line-height: 24px;
}


// Status Colors

.green {
	background-color: #44ba8f;
}

.green-text {
	color: #44ba8f;
}

.yellow {
	background-color: #f7b722;
}

.yellow-text {
	color: #f7b722;
}

.red {
	background-color: #e5494c;
}

.red-text {
	color: #e5494c;
}

.default {
	background-color: #314463;
}

.default-text {
	color: #314463;
}
