.modal-bg {
    background: rgba(0,0,0, 0.7);
    width: 100%;
    height: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.close-button {
  float: right;
}

.modal {
    // background: white;
    padding: 40px;
    margin: 20px;
    color: white;
}

// Status Colors

.green {
	background-color: #2ae0a0;
}

.yellow {
	background-color: #f7a902;
}

.red {
	background-color: red;
}
